# @TECHNICAL TRAININGS@


######  @FOLLOW ME ON -------------LINKEDIN. -----TWITTTER. -----FACEBOOK......LINKS IN DESCRIPTION@

## ONE HOT ENCODING

In [38]:
# Program for demonstration of one hot encoding 

# import libraries 
import numpy as np 
import pandas as pd 

# import the data required 
data = pd.read_csv("onehot.csv") 
print(data)

  pos  fare
0   a   500
1   b   485
2   a   500
3   a   600
4   c   650
5   d   700
6   d   100
7   c   200

In [40]:
# importing one hot encoder from sklearn 
# There are changes in OneHotEncoder class 
from sklearn.preprocessing import OneHotEncoder 
from sklearn.compose import ColumnTransformer 

# creating one hot encoder object with categorical feature 0 
# indicating the first column 
columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(), [0])], remainder='passthrough') 

dat = np.array(columnTransformer.fit_transform(data), dtype = np.str)

In [41]:
dat

array([['1.0', '0.0', '0.0', '0.0', '500.0'],
       ['0.0', '1.0', '0.0', '0.0', '485.0'],
       ['1.0', '0.0', '0.0', '0.0', '500.0'],
       ['1.0', '0.0', '0.0', '0.0', '600.0'],
       ['0.0', '0.0', '1.0', '0.0', '650.0'],
       ['0.0', '0.0', '0.0', '1.0', '700.0'],
       ['0.0', '0.0', '0.0', '1.0', '100.0'],
       ['0.0', '0.0', '1.0', '0.0', '200.0']], dtype='<U32')

## EXAMPLE 2

In [42]:
# Program for demonstration of one hot encoding 

# import libraries 
import numpy as np 
import pandas as pd 

# import the data required 
data = pd.read_csv("onehot2.csv") 
print(data)

    Names Opinion
0  Jeevan     yes
1  Aditya      no
2   sohan     yes
3  snehan     yes

In [43]:
data

    Names Opinion
0  Jeevan     yes
1  Aditya      no
2   sohan     yes
3  snehan     yes

In [44]:
# label encoding the data 
from sklearn.preprocessing import LabelEncoder 

le = LabelEncoder() 

data[' NAMES']= le.fit_transform(data['Names']) 
data['ANSWERS']= le.fit_transform(data['Opinion'])

In [45]:
data

    Names Opinion   NAMES  ANSWERS
0  Jeevan     yes       1        1
1  Aditya      no       0        0
2   sohan     yes       3        1
3  snehan     yes       2        1

In [46]:
import pandas
d = data.drop(['Names', 'Opinion'], axis=1)

In [47]:
d

    NAMES  ANSWERS
0       1        1
1       0        0
2       3        1
3       2        1

In [48]:
# importing one hot encoder from sklearn 
from sklearn.preprocessing import OneHotEncoder 

# creating one hot encoder object by default 
# entire data passed is one hot encoded 
onehotencoder = OneHotEncoder() 

data = np.array(columnTransformer.fit_transform(data), dtype = np.str)

In [49]:
data

array([['0.0', '1.0', '0.0', '0.0', 'yes', '1', '1'],
       ['1.0', '0.0', '0.0', '0.0', 'no', '0', '0'],
       ['0.0', '0.0', '0.0', '1.0', 'yes', '3', '1'],
       ['0.0', '0.0', '1.0', '0.0', 'yes', '2', '1']], dtype='<U3')

In [ ]:
.+print(ds)